{{if .MethodCount -}}
// {{ .Prefix }}Subscriber represents all handlers that are expecting messages for {{ .Prefix }}
type {{ .Prefix }}Subscriber interface {
{{- range  $key, $value := .Channels}}
    // {{namify $value.Name}} subscribes to messages placed on the '{{ $value.Name }}' channel
    {{namify $value.Name}}(ctx context.Context, msg {{channelToMessageTypeName $value}})
{{end}}
}
{{- end}}
